---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import BlogPage from '../../components/BlogPage'

---

<!doctype html>
<html lang="en" >
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Layout>
			<BlogPage client:load />
    </Layout>
  </body>
</html>

