

html {
	box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Manija del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgba(51, 65, 85, 0.7); 
}

::-webkit-scrollbar-track {
  background-color: rgb(50 69 255 / 0.3); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #E0DEF4;
}

.dark ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 23, 0.9); 
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0; 
}

:root {
	height: 100%;
}

body {
	font-family: 'Atkinson', sans-serif;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	
}

main {
	padding: 1rem;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
	box-shadow: 1px 0px 40px 20px rgba(20, 0, 36, 0.2);
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}


