/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

html {
	box-sizing: border-box;
}
:root {
	height: 100%;
}

body {
	font-family: 'Atkinson', sans-serif;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	
}
main {
	padding: 1rem;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
	box-shadow: 1px 0px 40px 20px rgba(20, 0, 36, 0.2);
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}


