---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import BriefcaseIcon from "../components/Icons/Briefcase";
import  CodeIcon from "../components/Icons/Code";
type Props = CollectionEntry<"blog">["data"];
const title = "About Me";
const description = "About my experience and skills";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Layout>
      <div class="flex flex-col gap-4">
        <h1
          class="font-black text-5xl lg:text-8xl my-4 text-transparent bg-clip-text bg-gradient-to-r from-slate-700 to-navy dark:text-darkText"
        >
          My name is <br class="hidden lg:block" /> Alexis
        </h1>
        <div class="flex items-center justify-center gap-16">
          <p class="text-slate-700 dark:text-slate-100 mb-10 text-xl">
            I'm a web development specialist with almost 3 years of experience.
            Originally from Mexico, I love to create creative and functional
            digital solutions. Always looking for new challenges to keep
            learning and growing in the web development world.
          </p>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="flex gap-x-2 items-end">
            <BriefcaseIcon className="size-10 text-slate-700 dark:text-darkText" />
            <h2
              class="font-black text-2xl lg:text-4xl text-slate-700 dark:text-darkText"
            >
              Experience
            </h2>
          </div>
          <div class="px-6">
            <Timeline />
          </div>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="flex gap-x-2 items-end">
            <CodeIcon className="size-10 text-slate-700 dark:text-darkText" />
            <h2
              class="font-black text-2xl lg:text-4xl text-slate-700 dark:text-darkText"
            >
            Technologies & Languages
            </h2>
          </div>
          <div class="px-6">
            <Timeline />
          </div>
        </div>
      </div>
    </Layout>
    <Footer />
  </body>
</html>
