---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../components/Hero.astro';
import LatestPosts from '../components/LatestPosts.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Layout>
			<Hero />
			<LatestPosts />
			<Projects />
		</Layout>
	</body>
</html>

