---
  const {data} = Astro.props
---

<div class="flex gap-x-2 items-center px-3 py-1 bg-navy/20 dark:bg-astro-blue/20 rounded-lg">
  <span class="font-semibold text-sm dark:text-darkText/70">
    {data.name}
  </span>
  
</div>