---
  const {data} = Astro.props
---

<div class="flex gap-x-1 items-center px-2 py-1 bg-navy/20 dark:bg-astro-blue/20 rounded-md">
  <span class="font-semibold text-xs dark:text-darkText/70">
    {data}
  </span>
  
</div>