---
const today = new Date();
---

<footer
  class="flex flex-col md:flex-row max-w-5xl justify-between items-center mx-auto "
>
  <p class="text-slate-700 dark:text-darkText">Copyright &copy; {today.getFullYear()} Alexis De Leon</p>
  <div
    class="text-slate-700 flex items-center dark:text-darkText gap-x-2"
  >
    <a href="https://github.com/" target="_blank" class="whitespace-nowrap underline decoration-border decoration-1 underline-offset-4 hover:decoration-transparent hover:opacity-80 transition-all">
      <span>Source Code</span>
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 0em 1em 0em;
    text-align: center;
  }
</style>
